@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  font-family: "Sora", sans-serif;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
}
.dropdown a{
  display: block;
  padding: 5px 10px;
}

.dropdown .gro-dropdown{
  position: absolute;
  display: none;
}
.dropdown:hover .gro-dropdown{
  display: block;
}

.dropdown a:hover{
 color: rgb(37, 37, 228);
}

